body {
    font-family: Arial, Helvetica, sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    color: rgb(27, 203, 133);
}

strong {
    color: rgb(3, 120, 40);
}

em {
    color: rgb(21, 226, 62);
}

p {
    color: rgb(0, 0, 0);
}

a {
    color: rgb(0, 29, 177);;
}

blockquote {
    background-color: rgb(230, 229, 229);
    padding: 2px;
    border-radius: 5px;
}

pre {
    background-color: black;
    color: white;
    padding: 2px;
    margin: 2px;
    border-radius: 5px;
}

button {
    background-color: rgb(27, 203, 133);
    border-radius: 5px;
    color: white;
    padding: 8px 12px;
    border: solid 1px rgb(32, 176, 118);
    text-align: center;
    display: inline-block;
    font-size: 18px;
}

button:hover {
    background-color: rgb(32, 176, 118);
    cursor: pointer;
}

button:active {
    background-color: rgb(32, 150, 103);
    cursor: pointer;
}


.text-center {
    text-align: center;
}

.text-left {
    text-align: left;
}

.text-right {
    text-align: right;
}

table {
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    border-collapse: collapse;
    border: 3px solid rgb(3, 120, 40);
}

th {
    padding: 0.8rem;
    background-color: rgb(27, 203, 133);
    border: solid 1px white;
    color: white;
    font-weight: bold;
}

td {
    padding: 0.8rem;
    border: solid 1px rgb(27, 203, 133);
}